{% extends "base/main.html" %}

{% block title %}Equipamentos{% endblock %}

{% block content %}
<div class="container">
    <h1>Equipamentos</h1>
    
    {% if equipamentos %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for equipamento in equipamentos %}
                    <tr>
                        <td>{{ equipamento.marca }}</td>
                        <td
                        <td>{{ equipamento.descricao }}</td>
                        <td>
                            <a href="{% url 'equipamento_detail' equipamento.id %}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum equipamento encontrado.</p>
    {% endif %}
    
</div>
{% endblock %}